.leaflet-pane .leaflet-popup-content-wrapper, .leaflet-pane .leaflet-popup-tip {
  background: #e3e3e3;
}

.leaflet-pane .leaflet-popup-content-wrapper {
  width: 300px;
}

.leaflet-popup {
  left: -150px;
}