.sidebar-map-button {
  height: 35px;
  background: dodgerblue;
  color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar-map-button:hover {
  background: darkblue;
}
